body {
  background-image: linear-gradient(#799FCB, #afc7d0, #EEF1E6, #F9665E) ;
}
#instructions{
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
}
#main-header{
  text-align: center;
  color: white;
  padding: 0px;
}


.popup-box {
  position: fixed;
  z-index: 4;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}


#covid{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.main-div{
  text-align: center;
}

#alpha{
  background-color: transparent; 
  position: absolute;
  z-index: 3;
  left: 33%;
  top: 38%;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
}

#epsilon{
  background-color: transparent; 
  position: absolute;
  z-index: 3;
  left: 47.5%;
  top: 26%;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 38px;
}

#gamma{
  background-color: transparent; 
  position: absolute;
  z-index: 3;
  left: 33%;
  top: 98%;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
}

#beta{
  background-color: transparent; 
  position: absolute;
  z-index: 3;
  left: 62.5%;
  top: 39%;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
}

#delta{
  background-color: transparent; 
  position: absolute;
  z-index: 3;
  left: 62%;
  top: 98%;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
}

.concern{
  color: rgb(241, 241, 57);
}

.box {
  position: relative;
  width: 35%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(5% + 385px);
  top: calc(100vh - 85vh - 32px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}
